page_separator_width 3
page_separator_color 0.5 0.5 0.5
dark_mode_background_color 0.11 0.11 0.11
dark_mode_contrast 0.7
custom_background_color 0.11 0.11 0.11
custom_text_color 0.92 0.86 0.70
ruler_mode 1
sort_bookmarks_by_location 1
status_bar_color 0.11 0.11 0.11
status_bar_text_color 0.92 0.86 0.70
papers_folder_path /Users/desanso/Documents/d/bib
create_table_of_contents_if_not_exists 1
max_created_toc_size 5000
search_url_l https://libgen.is/search.php?req=
search_url_a https://libgen.is/scimag/?q=
search_url_i https://www.google.com/search?q=
search_url_w https://en.wikipedia.org/wiki/
search_url_d https://www.merriam-webster.com/dictionary/
search_url_p https://plato.stanford.edu/search/searcher.py?query=
search_url_m https://i-share-isu.primo.exlibrisgroup.com/discovery/?=

new_command _download_paper python -m sioyek.paper_downloader download "%{sioyek_path}" "%{paper_name}" "%{selected_text}" [Your Email, If Using Unpaywall]
new_command _dual_panelify python -m sioyek.dual_panelify "%{sioyek_path}" "%{file_path}" "%{command_text}"
new_command _embed_annotations python -m sioyek.embed_annotations "%{sioyek_path}" "%{local_database}" "%{shared_database}" "%{file_path}"
new_command _import_annotations python -m sioyek.import_annotations "%{sioyek_path}" "%{local_database}" "%{shared_database}" "%{file_path}"
new_command _add_text python -m sioyek.add_text "%{sioyek_path}" "%{local_database}" "%{shared_database}" "%{file_path}" "%{selected_rect}" "%{command_text}"
new_command _add_red_text python -m sioyek.add_text "%{sioyek_path}" "%{local_database}" "%{shared_database}" "%{file_path}" "%{selected_rect}" "%{command_text}" fontsize=5 text_color=255,0,0

new_command _reveal_in_finder open -R %1
new_command _open_in_preview open -b com.apple.Preview %1
new_command _print lp %{file_path} 
new_command _print_with_options lp %{command_text} %{file_path}
