backend = "kmeans"

color_space = "lch"
#color_space = "lab"

#fallback_generator = "complementary"
fallback_generator = "interpolate"

#  * dark            - dark colors dark background and light contrast
#  * dark16          - Same as dark but uses the colors trick
#  * darkcomp        - This is a dark variant that changes all colors to it s
#                       complementary counterpart giving the feeling of a new palette but
#                       that still makes sense with the image provided
#  * darkcomp16      - variation of the dark complementary variant
#  * harddark        - Same as dark with hard hue colors
#  * harddark16      - Harddark with color variation
#  * harddarkcomp    - complementary colors variation of harddark scheme
#  * harddarkcomp16  - complementary colors variation of harddark scheme
#  * light           - Light bg dark fg
#  * light16         - Same as light but uses the color trick
#  * lightcomp       - complementary colors variation of light
#  * lightcomp16     - complementary colors variation of light with the color variation
#  * softdark        - Variant of softlight uses the lightest colors and a dark background
#                       could be interpreted as dark inversed
#  * softdark16      - softdark with color variation
#  * softdarkcomp    - complementary variation for softdark
#  * softdarkcomp16  - complementary variation for softdark with the color variation
#  * softlight       - Light with soft pastel colors counterpart of harddark
#  * softlight16     - softlight with color variation
#  * softlightcomp   - softlight with complementary colors
#  * softlightcomp16 - softlight with complementary colors with colors
#palette = "dark16"
palette = "softdarkcomp16"

check_contrast = true

#saturation = 35

[templates]
colors = { template = 'colors', target = '~/.cache/wal/colors', new_engine = true }
sh = { template = 'colors.sh', target = '~/.cache/wal/colors.sh', new_engine = true }
bash = { template = 'colors.bash', target = '~/.cache/wal/colors.bash', new_engine = true }
kitty = { template = 'colors.kitty', target = '~/.cache/wal/colors-kitty.conf', new_engine = true }
vim = { template = 'colors.vim', target = '~/.cache/wal/colors-wal.vim', new_engine = true }
css = { template = 'colors.css', target = '~/.cache/wal/colors.css', new_engine = true }
scss = { template = 'colors.scss', target = '~/.cache/wal/colors.scss', new_engine = true }
json = { template = 'colors.json', target = '~/.cache/wal/colors.json', new_engine = true }
yml = { template = 'colors.yml', target = '~/.cache/wal/colors.yml', new_engine = true }
sketchybar = { template = 'colors.sketchybar', target = '~/.cache/wal/colors.sketchybar', new_engine = true }
tridactyl = { template = 'tridactyl_blank.html', target = '~/.config/tridactyl/blank.html', new_engine = true }

